<ul class="sectopnav">
  <li><%= link_to 'Product', products_path %></li>
  <li><%= link_to 'Contract', contracts_path %></li>
  <li><%= link_to 'User', users_path %></li>
</ul>


<style>
body {margin:0;}
ul.sectopnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #99ff99;
  width: 1500px;
}

ul.sectopnav li {float: left;}

ul.sectopnav li a {
  display: inline-block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.sectopnav li a:hover {background-color: #555;}

ul.sectopnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.sectopnav li:not(:first-child) {display: none;}
  ul.sectopnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.sectopnav.responsive {position: relative;}
  ul.sectopnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.sectopnav.responsive li {
    float: none;
    display: inline;
  }
  ul.sectopnav.responsive li a {
    display: block;
    text-align: left;
  }
}
</style>
