<p id="notice"><%= notice %></p>

<h1><%= @order.id %>&nbsp;&nbsp;<%= link_to image_tag('back.png', :alt => 'back', :title => 'Go back'), 'javascript:window.history.back();' %></h1>
<table>
  </table>
